header.header
  .container
    .logo
      a(href='#')
        img(src='images/logo.svg')
    .mob-nav-wrap
      nav.nav
        ul.nav-menu
          li.menu-item.menu-item-has-children
            a(href='#') Services
            ul.sub-menu
              li.menu-item
                a(href='/#') Service 1
              li.menu-item
                a(href='#') Service 2
              li.menu-item
                a(href='#') Service 3
          li.menu-item
            a(href='#') Partners
          li.menu-item
            a(href='#') About Us
          li.menu-item
            a(href='#') Contact
      .header__cta
        a(href='#') Order a Test
        a(href='#') Book a Consultation
    .header__cta
      a(href='#') Order a Test
      a(href='#') Book a Consultation
    .burger-menu.nav-trigger
      .burger-menu__title Menu
      .burger-menu__icon
        span
        span
        span

